li.result-item(id= val.aspect+'-result')
	table
		tr.result-title
			th
				a(href='/vote')= val.competitors[0]+' VS '+val.competitors[1]+': '+val.aspect
			th
				a(href='/vote')
					img(src= '/images/result_'+val.aspect+'.jpg')
		tr.result-num
			td= val.vote[0]+val.vote[1]
			td
				span.left(cop='0')= val.vote[0]
				span.right(cop='1')= val.vote[1]